.info{
    padding: 48px 33px;
    &__label{
        color: #858487;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 25px;
    }
    &__text{
        font-weight: 700;
        color: #000;
        font-size: 23px;
    }
    &__line{
        height: 2px;
        background: #899dbe;
        width: 67%;
        margin: 11px 0;
    }
}
