.info {
    padding: 28px 24px;

    &__label {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 3px;
        color: #858487;
    }

    &__text {
        font-size: 15px;
        font-weight: 700;
        color: #000;
    }

    &__line {
        width: 67%;
        height: 2px;
        margin: 6px 0;
        background: #899dbe;
    }
}
