.info {
    padding: 48px 33px;

    &__label {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
        color: #858487;
    }

    &__text {
        font-size: 23px;
        font-weight: 700;
        color: #000;
    }

    &__line {
        width: 67%;
        height: 2px;
        margin: 11px 0;
        background: #899dbe;
    }
}
