.logo{
    background-color:#fff;
    background-image: url('../i/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 190px;
    width: 100%;
    position: absolute;
    height: 70px;
    bottom: 0;
}
