.profile {
    position: relative;
    padding: 68px 34px 30px;
    color: #fff;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        content: '';
        background: #306cb5;
    }

    &__image {
        position: absolute;
        z-index: 7;
        top: 0;
        display: flex;
        overflow: hidden;
        width: 110px;
        height: 110px;
        transform: translateY(-50%);
        border: 10px solid #00a8d9;
        border-radius: 50%;
        background: #00a8d9;
        box-shadow: 0 4px 11px 1px rgba(0,0,0,.4);
        align-items: center;
        justify-content: center;

        i {
            font-size: 117px;
            margin-top: 15px;
        }
    }

    &__name {
        font-size: 26px;
        line-height: 36px;
        position: relative;
        cursor: pointer;

        i {
            position: absolute;
            top: 2px;
            right: -8px;
        }
    }

    &__position {
        font-size: 17px;
        line-height: 22px;
        position: relative;
        opacity: 0.4;
    }

    &__line {
        width: 100%;
        height: 1px;
        margin: 25px 0;
        opacity: 0.5;
        background: #fff;
    }

    &__bonus {
        font-size: 14px;
        font-size: 23px;
        position: relative;
        margin-bottom: 3px;
        opacity: 0.5;
    }

    &__amount {
        font-size: 49px;
        line-height: 60px;
        position: relative;
    }
}

.profile-select {
    position: fixed;
    z-index: -1;
    top: 20px;
    left: 20px;
    visibility: hidden;
    overflow: hidden;
    width: 435px;
    transition: 0.4s;
    opacity: 0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 16px 1px rgba(0,0,0,.46);

    &--visible {
        z-index: 10;
        visibility: visible;
        opacity: 1;
    }

    &-header {
        height: 188px;
        padding: 40px 25px 40px 160px;

        &__image {
            position: absolute;
            z-index: 7;
            top: 0;
            top: 40px;
            left: 25px;
            display: flex;
            overflow: hidden;
            width: 110px;
            height: 110px;
            color: #fff;
            border: 10px solid #00a8d9;
            border-radius: 50%;
            background: #00a8d9;
            align-items: center;
            justify-content: center;

            i {
                font-size: 117px;
                margin-top: 15px;
            }
        }

        &__name {
            font-size: 24px;
            line-height: 35px;
        }

        &__position {
            font-size: 19px;
            line-height: 38px;
        }
    }

    &-list {
        position: relative;
        overflow: auto;
        width: 100%;
        max-height: calc(100vh - 228px);
    }

    &-item {
        position: relative;
        min-height: 102px;
        padding: 15px 20px 15px 110px;
        cursor: pointer;
        transition: 0.4s;
        background: #f8f8f8;

        &:hover {
            background: #eee;
        }

        &__image {
            position: absolute;
            top: 15px;
            left: 20px;
            display: flex;
            overflow: hidden;
            width: 72px;
            height: 72px;
            color: #fff;
            border: 8px solid #98c000;
            border-radius: 50%;
            background: #98c000;
            align-items: center;
            justify-content: center;

            i {
                font-size: 73px;
                margin-top: 9px;
            }
        }

        &__name {
            font-size: 20px;
            margin-top: 12px;
        }

        &__position {
            font-size: 19px;
            margin-top: 1px;
            color: #7c7c7e;
        }
    }
}
