.profile {
    position: relative;
    padding: 46px 24px 19px;
    color: #fff;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        content: '';
        background: #306cb5;
    }

    &__image {
        position: absolute;
        z-index: 7;
        top: 0;
        overflow: hidden;
        width: 74px;
        height: 74px;
        transform: translateY(-50%);
        border: 7px solid #00a8d9;
        border-radius: 50%;
        background: #00a8d9;
        box-shadow: 0 4px 11px 1px rgba(0,0,0,.4);

        i {
            font-size: 83px;
            position: absolute;
            top: -12px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__name {
        font-size: 17px;
        line-height: 24px;
        position: relative;
        cursor: pointer;

        i {
            position: absolute;
            top: 2px;
            right: -6px;
        }
    }

    &__position {
        font-size: 12px;
        line-height: 18px;
        position: relative;
        opacity: 0.5;
        color: #FAFAFA;
    }

    &__line {
        width: 100%;
        height: 2px;
        margin: 14px 0;
        opacity: 0.5;
        background: #D8D8D8;
    }

    &__bonus {
        font-size: 16px;
        position: relative;
        opacity: 0.57;
        line-height: 24px;
    }

    &__amount {
        font-size: 34px;
        line-height: 39px;
        position: relative;
    }
}

.profile-select {
    position: fixed;
    z-index: -1;
    top: 12px;
    left: 12px;
    visibility: hidden;
    overflow: hidden;
    width: 289px;
    transition: 0.4s;
    opacity: 0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 16px 1px rgba(0,0,0,.46);

    &--visible {
        z-index: 10;
        visibility: visible;
        opacity: 1;
    }

    &-header {
        height: 126px;
        padding: 30px 23px 27px 107px;

        &__image {
            position: absolute;
            z-index: 7;
            top: 0;
            top: 27px;
            left: 16px;
            overflow: hidden;
            width: 74px;
            height: 74px;
            color: #fff;
            border: 7px solid #00a8d9;
            border-radius: 50%;
            background: #00a8d9;

            i {
                font-size: 83px;
                position: absolute;
                top: -12px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__name {
            font-size: 16px;
            line-height: 22px;
        }

        &__position {
            color: #808285;
            font-size: 13px;
            line-height: 30px;
        }
    }

    &-list {
        position: relative;
        overflow: auto;
        width: 100%;
        max-height: calc(100vh - 228px);
    }

    &-item {
        position: relative;
        min-height: 70px;
        padding: 15px 20px 15px 74px;
        cursor: pointer;
        transition: 0.4s;
        background: #f8f8f8;

        &:hover {
            background: #eee;
        }

        &__image {
            position: absolute;
            top: 10px;
            left: 16px;
            overflow: hidden;
            width: 48px;
            height: 48px;
            color: #fff;
            border: 5px solid #98c000;
            border-radius: 50%;
            background: #98c000;

            i {
                font-size: 49px;
                top: -4px;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
            }
        }

        &__name {
            font-size: 14px;
            margin-top: 5px;
        }

        &__position {
            font-size: 13px;
            margin-top: 1px;
            color: #808285;
        }
    }
}
