.table {
    position: relative;
    height: 100%;

    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
    }

    &-head {
        overflow: hidden;
        height: 62px;
        width: 100%;
        background: #fafafa;
        box-shadow: 0 1px 6px -1px rgba(0,0,0,.36);

        td {
            vertical-align: top;
            padding: 17px 0;
            font-size: 12px;

            span {
                display: inline-block;
                vertical-align: top;
                padding: 0 16px;
                color: #5f5f5f;
                line-height: 18px;
                width: 100%;
                position: relative;
                font-weight: 600;

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: 0;
                    height: 28px;
                    border-right: 2px solid #dbdbdb;
                    top: 0;
                }
            }

            &:last-child {
                span::after {
                    display: none;
                }
            }
        }
    }

    &-body {
        height: calc(100% - 62px);
        overflow-y: auto;
        overflow-x: hidden;

        td {
            padding: 15px;
            font-size: 16px;
            line-height: 22px;
            vertical-align: top;
        }
    }

    &-bonus {
        font-weight: 700;
        color: #1399b0;
        white-space: nowrap;
    }

    &-slider {
        padding-top: 22px !important;
    }

    &-field {
        width: 100%;
        position: relative;

        input {
            border: none;
            border-bottom: 2px solid #e1e1e1;
            transition: 0.4s;
            padding: 3px 20px 3px 0;
            text-align: right;
            outline: none;
            width: 100%;

            &:focus {
                outline: none;
                border-bottom: 2px solid #00a4cd;
            }
        }

        &::after {
            content: 'P';
            position: absolute;
            right: 0;
            top: 1px;
        }
    }

    &-select {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        span {
            display: inline-block;
            cursor: pointer;
            border-bottom: 2px solid #e1e1e1;
            transition: 0.4s;
            padding: 3px 20px 3px 0;
            text-align: right;
            outline: none;
            width: 100%;
        }

        i {
            display: inline-block;
        }

        &__list {
            position: absolute;
            width: 100%;
            padding: 0;
            border-radius: 3px;
            left: 0;
            top: calc(100% + 3px);
            margin: 0;
            background: #fff;
            box-shadow: 0 4px 18px -1px rgba(0,0,0,.36);
            visibility: hidden;
            z-index: -1;
            transition: 0.4s;
            opacity: 0;

        }
        &--visible &__list{
            z-index: 10;
            visibility: visible;
            opacity: 1;
        }

        &__item {
            margin: 0;
            width: 100%;
            padding: 10px 17px;
            font-size: 13px;
            display: block;
            transition: 0.3s;
            width: 100%;
            cursor: pointer;

            &:hover {
                background: #eee;
            }
        }
    }
}
