.table{
    display: table;
    table-layout:fixed;
    width: 100%;
    &-wrap{
        position: relative;
        padding-top: 98px;
        height: 100%;
        overflow: auto;
    }
    &-scroll{
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &-head{
        width: 100%;
        background: #fafafa;
        display: table-header-group;
        opacity: 0;
        &--hidden{
            opacity: 0;
            height: 0;
            overflow: hidden;
        }
        &--hidden &__cell{
            font-size: 0;
            padding: 0;
            margin: 0;
            span{
                display: none;
            }
        }
        &--absolute{
            position: absolute;
            opacity: 1!important;
            left: 0;
            width: 100%;
            top: 0;
            box-shadow: 0 1px 6px -1px rgba(0,0,0,.36);
        }
        &__cell{
            display: table-cell;
            padding: 20px 0px;
            font-size: 20px;
            span{
                display: inline-block;
                vertical-align: top;
                padding: 0px 20px;
                color: #5f5f5f;
                line-height: 29px;
                width: 100%;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    right: 0;
                    width: 0;
                    height: 43px;
                    border-right: 2px solid #dbdbdb;
                    top: 0;
                }
            }
            &:last-child{
                span{
                    border-right: none;
                }
            }
        }
    }
    &-body{
        display: table-row-group;
        &__row{
            display: table-row;
        }
        &__cell{
            padding: 20px;
            display: table-cell;
            font-size: 24px;
            line-height: 33px;
            &--bonus{
                font-weight: 700;
                color: #1399b0;
            }
        }
        &__field{
            width: 100%;
            position: relative;
            input{
                border: none;
                border-bottom: 2px solid #e1e1e1;
                transition: 0.4s;
                padding: 3px 20px 3px 0px;
                text-align: right;
                outline: none;
                width: 100%;
                &:focus{
                    outline: none;
                    border-bottom: 2px solid #00a4cd;
                }
            }
            &::after{
                content: 'P';
                position: absolute;
                transform: translateY(-50%);
                right: 0px;
                top: 16px;
            }
        }
    }
}
