.today{
    background: #eeeeee;
    padding: 30px 34px;
    &__label{
        color: #7a7a7a;
        font-size: 17px;
        margin-bottom: 10px;
    }
    &__text{
        color: #727173;
        font-size: 20px;
    }
}
