.today {
    padding: 22px 24px;
    background: #eee;

    &__label {
        font-size: 12px;
        margin-bottom: 8px;
        color: #808285;
    }

    &__text {
        font-size: 14px;
        color: #808285;
    }
}
