.today {
    padding: 22px 24px;
    background: #eee;

    &__label {
        font-size: 11px;
        margin-bottom: 8px;
        color: #7a7a7a;
    }

    &__text {
        font-size: 13px;
        color: #727173;
    }
}
